global
	log 127.0.0.1 local0 notice
	maxconn 2000
	user haproxy
	group haproxy
userlist haproxy-dataplaneapi
    user khaldoun insecure-password khaldoun
program api
   command /usr/bin/dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/sbin/haproxy --config-file /usr/local/etc/haproxy/haproxy.cfg --reload-cmd "haproxy -f /usr/local/etc/haproxy/haproxy.cfg -p /var/run/haproxy.pid -d -D -sf \$(cat /var/run/haproxy.pid)" --restart-cmd "/usr/sbin/haproxy -f /usr/local/etc/haproxy/haproxy.cfg -p /var/run/haproxy.pid -st \$(cat /var/run/haproxy.pid)" --reload-delay 5 --userlist haproxy-dataplaneapi
   no option start-on-reload

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	retries 3
	option  redispatch
	timeout connect  5000
	timeout client  3600
	timeout server  3600

frontend appname
	bind *:80
	mode http
	stats enable
	stats uri /haproxy?stats
	stats realm Strictly\ Private
	stats auth khaldoun:khaldoun
	option httpclose
	option forwardfor
	default_backend back
backend back
	server lamp1 172.16.0.3:80 check
	server lamp2 172.16.0.2:80 check
	balance roundrobin

